<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.ssocenter.freamwork.authorization.dao.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.topie.ssocenter.freamwork.authorization.model.Notice" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="is_publish" property="isPublish" jdbcType="BIT" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="is_revoke" property="isRevoke" jdbcType="BIT" />
  </resultMap>
  <resultMap id="BaseResultMapWisthBlob" type="com.topie.ssocenter.freamwork.authorization.model.Notice" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="is_publish" property="isPublish" jdbcType="BIT" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="is_revoke" property="isRevoke" jdbcType="BIT" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

	<select id="findByExample" resultMap="BaseResultMap">
		SELECT t.* FROM t_notice t LEFT JOIN t_notice_app na ON t.id=na.notice_id
		WHERE t.is_delete = FALSE 
		<if test="model!=null">
		<if test="model.title!=null and model.title!=''">
			AND t.title LIKE CONCAT("%",#{model.title},"%")
		</if>
		<if test="model.isPublish!=null">
		 AND t.is_publish= #{model.isPublish}
		</if>
		<if test="model.isRevoke!=null">
		 AND t.is_revoke= #{model.isRevoke}
		</if>
		</if>
		<if test="systemIds!=null">
			AND na.app_id in 
			<foreach collection="systemIds" item="sysId" open="(" close=")" separator=",">
				sysId
			</foreach>
		</if>
		ORDER BY ${seq}
	</select>
	
	<insert id="insertNoticeApps">
		INSERT INTO `t_notice_app` (`notice_id`, `app_id`) VALUES (#{noticeId},#{appId});
	</insert>
	<select id="selectNoticeApp" resultType="java.util.Map">
		SELECT * FROM `t_notice_app` WHERE notice_id=#{noticeId}
	</select>
	<delete id="deleteNoticeApp">
		DELETE FROM t_notice_app WHERE notice_id=#{noticeId}
	</delete>
</mapper>