<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.ssocenter.freamwork.authorization.dao.OrgMapper" >
  <resultMap id="BaseResultMap" type="com.topie.ssocenter.freamwork.authorization.model.Org" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="division_id" property="divisionId" jdbcType="VARCHAR" />
    <result column="division_code" property="divisionCode" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="origin_id" property="originId" jdbcType="VARCHAR" />
    <result column="lead_name" property="leadName" jdbcType="VARCHAR" />
    <result column="link_man" property="linkMan" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="system_id" property="systemId" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="postal_address" property="postalAddress" jdbcType="VARCHAR" />
    <result column="fax_no" property="faxNo" jdbcType="VARCHAR" />
    <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectMaxCode" resultType="String">
  	select MAX(`CODE`) as maxcode FROM t_org where `CODE` LIKE CONCAT(#{divisionCode},'%')
  </select>
  <select id="selectMaxSeq" resultType="Long">
  	select MAX(SEQ) as maxseq FROM t_org where `CODE` LIKE CONCAT(#{divisionCode},'%')
  </select>
  <select id="selectSynCount" resultType="long">
  	select count(id) from syn_org where app_id=#{appId}
  </select>
  
  <select id="selectSynOrgByAppId" resultMap="BaseResultMap">
  	SELECT t.* FROM t_org t LEFT JOIN syn_org st ON t.id=st.org_id 
  	WHERE st.app_id=#{appId} 
  	<if test="org.code!=null and org.code!=''">
	  	AND t.`CODE`=#{org.code}
  	</if>
  	<if test="org.name!=null and org.name!=''">
		AND t.`NAME` LIKE CONCAT('%',#{org.name},'%')
  	</if>
  </select>
  <select id="selectToSynOrgByAppId" resultMap="BaseResultMap">
  	SELECT t.* FROM t_org t LEFT JOIN syn_org st ON t.id=st.org_id 
  	WHERE st.app_id &lt;&gt; #{appId} 
  	<if test="org.code!=null and org.code!=''">
	  	AND t.`CODE`=#{org.code}
  	</if>
  	<if test="org.name!=null and org.name!=''">
		AND t.`NAME` LIKE CONCAT('%',#{org.name},'%')
  	</if>
  </select>
  <select id="selectByExampleEx" resultMap="BaseResultMap">
  	SELECT distinct t.* 
	FROM t_org t 
	LEFT JOIN syn_org t1
	ON t.id = t1.org_id
	<where>
	<foreach collection="example.oredCriteria" item="ite" index="ind">
		<foreach collection="ite.criteria" item="item" index="index">
			<if test="item.listValue">
				${item.conditionValue} 
				<foreach collection="item.value" item="citem" open="(" close=")" separator=",">
					#{citem}
				</foreach>
			</if>
			<if test="item.singleValue">
				${item.condition} #{item.value}
			</if>
		</foreach>
	</foreach>
	<if test="systemIds!=null and systemIds.size() &gt; 0">
		AND t1.app_id IN 
		<foreach collection="systemIds" item="citem" open="(" close=")" separator=",">
			#{citem}
		</foreach>
	</if>
	</where>
	ORDER BY ${example.orderByClause}
  </select>
</mapper>