<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.ssocenter.freamwork.authorization.dao.SynLogMapper" >
  <resultMap id="BaseResultMap" type="com.topie.ssocenter.freamwork.authorization.model.SynLog" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="syn_time" property="synTime" jdbcType="VARCHAR" />
    <result column="syn_result" property="synResult" jdbcType="VARCHAR" />
    <result column="syn_userid" property="synUserid" jdbcType="VARCHAR" />
    <result column="syn_username" property="synUsername" jdbcType="VARCHAR" />
  </resultMap>
</mapper>