<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.ssocenter.freamwork.authorization.dao.UserAccountMapper" >
  <resultMap id="BaseResultMap" type="com.topie.ssocenter.freamwork.authorization.model.UserAccount" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="BIT" />
    <result column="HEADPIC" property="headpic" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="BIGINT" />
    <result column="headphoto_id" property="headphotoId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="LOGINNAME" property="loginname" jdbcType="VARCHAR" />
    <result column="MOBILEPHONE" property="mobilephone" jdbcType="VARCHAR" />
    <result column="USERTYPE" property="usertype" jdbcType="VARCHAR" />
    <result column="LASTLOGINTIME" property="lastlogintime" jdbcType="VARCHAR" />
    <result column="LOGINCOUNT" property="logincount" jdbcType="INTEGER" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="REMOTEIPADDR" property="remoteipaddr" jdbcType="VARCHAR" />
    <result column="ACCOUNT_EXPIRED" property="accountExpired" jdbcType="BIT" />
    <result column="LOCKED" property="locked" jdbcType="BIT" />
    <result column="PASSWORD_EXPIRED" property="passwordExpired" jdbcType="BIT" />
    <result column="SPECIALACTION" property="specialaction" jdbcType="VARCHAR" />
    <result column="ugroup_id" property="ugroupId" jdbcType="VARCHAR" />
    <result column="SYNPASSWORD" property="synpassword" jdbcType="VARCHAR" />
    <result column="DTYPE" property="dtype" jdbcType="VARCHAR" />
    <result column="merge_uuid" property="mergeUuid" jdbcType="VARCHAR" />
    <result column="origin_id" property="originId" jdbcType="VARCHAR" />
    <result column="school_age" property="schoolAge" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="speciality" property="speciality" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="bizphone_no" property="bizphoneNo" jdbcType="VARCHAR" />
    <result column="fax_no" property="faxNo" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="system_id" property="systemId" jdbcType="VARCHAR" />
    <result column="old_loginname" property="oldLoginname" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <resultMap id="UserVoMap" type="com.topie.ssocenter.freamwork.authorization.vo.UserVO">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <id column="CODE" property="id" jdbcType="VARCHAR"/>
        <result column="LOGINNAME" property="loginName" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="NAME" property="displayName" jdbcType="VARCHAR"/>
        <result column="ENABLED" property="enabled" jdbcType="BIT"/>
        <result column="LOCKED" property="accountNonLocked" jdbcType="BIT"/>
        <result column="ACCOUNT_EXPIRED" property="accountNonExpired" jdbcType="BIT"/>
        <result column="PASSWORD_EXPIRED" property="credentialsNonExpired" jdbcType="BIT"/>
        <result column="REMOTEIPADDR" property="lastLoginIp" jdbcType="VARCHAR"/>
        <result column="LASTLOGINTIME" property="lastLoginTime" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="MOBILEPHONE" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="create_date" property="insertTime" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
        CODE,EMAIL,ENABLED,HEADPIC,NAME,PASSWORD,SEQ,headphoto_id,org_id,LOGINNAME,MOBILEPHONE,
        USERTYPE,LASTLOGINTIME,LOGINCOUNT,MOBILE,REMOTEIPADDR,ACCOUNT_EXPIRED,LOCKED,PASSWORD_EXPIRED,
        SPECIALACTION,ugroup_id,SYNPASSWORD,DTYPE,merge_uuid,origin_id,school_age,title,speciality,
        create_date,create_user,bizphone_no,fax_no,address,duty,birthday,gender,user_type,system_id,
        old_loginname,is_delete
    </sql>
    <select id="findUserByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_account
        where LOGINNAME = #{loginName,jdbcType=VARCHAR}
    </select>
    <insert id="insertUserRole" parameterType="java.lang.Integer">
        insert into t_user_account_role (USER_CODE,ROLE_CODE) values(#{userId,jdbcType=VARCHAR},#{roleId,jdbcType=VARCHAR});
    </insert>
    <select id="findUserRoleByUserId" parameterType="java.lang.String"
            resultType="java.lang.String">
        select
        ROLE_CODE
        from t_user_account_role
        where USER_CODE = #{userId,jdbcType=VARCHAR}
    </select>
    <select id="findUserList" parameterType="com.topie.ssocenter.freamwork.authorization.model.UserAccount"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_account
        <where>
            <if test="name != null and name != ''">
                NAME like concat('%',concat(#{name}, '%'))
            </if>
            <if test="loginname != null and loginname != ''">
                and LOGINNAME like concat('%',concat(#{loginname}, '%'))
            </if>
        </where>
    </select>
    <select id="findExistUser" resultType="java.lang.Integer">
        select count(1) from t_user_account
        <where>
            <if test="code != null and code != ''">
                CODE != #{code}
            </if>
            <if test="loginname != null and loginname != ''">
                and LOGINNAME = #{loginname}
            </if>
        </where>
    </select>
    <select id="selectMaxUserLoginNameByOrgCode" resultType="String">
    	select MAX(LOGINNAME) as maxLoginName FROM t_user_account t WHERE LOGINNAME LIKE CONCAT(#{code},'%')
    </select>
    <select id="selectSynCount" resultType="long">
    	select count(id) from syn_user where app_id=#{appId}
    </select>
</mapper>